fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart

sqlalchemy
psycopg2-binary

passlib
python-jose[cryptography]
email-validator

celery
redis

scikit-learn
pandas
numpy
joblib

httpx
requests

streamlit

prometheus-client

pytest
pytest-cov
